.env
venv*/
__pycache__/
token.json
client_secret.json
output/
logs/
MuseTalk/

# Ignore media/weights globally except in assets/
*.mp4
*.mp3
*.jpg
*.png
*.onnx
*.bin
*.pth

# Exclude assets/ contents from the above ignore rules
!assets/**
!vj_profile.jpg
!logo.png
!assets/icons/*.png
!assets/fonts/*.ttf
assets/kokoro-v1.0.onnx
